.container {
  padding: 0 2rem;
  height: 100vh;
  display: flex;
  background-color: rgb(185, 185, 255);
  flex-direction: column;
}

.map {
  background-color: bisque;
}

.start {
  background-color: floralwhite;
}
