html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: blue;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#code {
  max-width: 1600px;
  padding: 1rem;
}

.see-code-nav {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  transition: opacity 1s;
}

.see-code-nav:hover {
  opacity: 1;
}

code pre {
  background-color: black;
  color: aquamarine;
}
